<h1>New query</h1>

<a href="/">view all queries</a>

<h2>Name:</h2>
<input type="text" placeholder="Name" name="name" value="{{query.name}}"/>

<form class="enter-means-submit">
<h2>Include keywords:</h2>
{{#each query.params.includes:i}}
<div class="row">
<input type="text" placeholder="Value" name="include" value="{{this.value}}"/>
<button on-click="delete:{{this.value}}">delete</button>
</div>
{{/each}}
<div class="row">
<input type="text" placeholder="Value" value="{{newInclude}}"/>
<button type="submit" on-click="include">Add</button>
</div>
</form>

{{#if showSql}}
<h2>SQL query:</h2>
<textarea name="" value={{query.params.sql}}>
</textarea>
<button type="submit" on-click="useSQL">Submit</button>
{{/if}}

{{#if query.running}}
<a href="#" on-click="stop:{{query.id}}">stop</a>
{{else}}
<a href="#" on-click="start:{{query.id}}">start</a>
{{/if}}

<h3>{{tweets.length}} tweets</h3>
<div id="chart">
</div>
