<h1>New query</h1>

<a href="/">view all queries</a>

<h2>Name:</h2>
<input type="text" placeholder="Name" name="name" value="{{query.name}}"/>

<form class="enter-means-submit">
<h2>Include keywords:</h2>
{{#each query.params.includes}}
<input type="text" placeholder="Value" name="include" value="{{this.value}}"/>
{{/each}}
<input type="text" placeholder="Value" value="{{newInclude}}"/>
<button type="submit" on-click="include">Add</button>
</form>

<form class="enter-means-submit">
<h2>Exclude keywords:</h2>
{{#each query.params.excludes}}
<input type="text" placeholder="Value" value="{{this.value}}"/>
{{/each}}
<input type="text" placeholder="Value" name="exclude" value="{{newExclude}}"/>
<button type="submit" on-click="exclude">Add</button>
</form>

{{#if showSql}}
<h2>SQL query:</h2>
<textarea name="" value={{query.params.sql}}>
</textarea>
<button type="submit" on-click="useSQL">Submit</button>
{{/if}}

<div class="row">
<button type="submit" on-click="done">Done</button>
</div>
